{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Task Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="bg-slate-700 mx-auto w-full">
    <nav class="flex justify-center items-center bg-[#1d2e3e] p-3 text-slate-100">
        <h3>Task Manager</h3>
        <ul class="flex mx-auto space-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/task">Tasks</a></li>
            <li><a href="{% url 'reporting:tasks_history' %}">History</a></li>
        </ul>
        {% block dashboard %}
        {% endblock %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>